<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <title>Document</title>
</head>
<body>
    <div id="Container">
        <header>
            <h1>layout sederhana</h1>
        </header>
        <nav>
            <a href="Home.html" >Home</a>
            <a href="artikel.html">artikel</a>
            <a href="about.html" class="active">About</a>
            <a href="kontak.html">Kontak</a>
        </nav>
        
        <div class="about">
            <img src="../gambar/wahyufi15.jpg" alt="">
            <h2>Wahyu Firasnyah</h2>
            <h2>312110139</h2>
            <div class="data">
                <div class="about1">
                    <h3>Hello</h3>
                    <hr>
                    <p>Nama saya Wahyu Firansyah, saya berasal dari Desa.SindangJaya Kec.CabangBungin Kab.Bekasi. saya berkuliah yaitu untuk meneruskan pendidikan saya dan saya ingin memperdalam pengetahuan saya dibidang yang saya ambil sekarang ini,Dan saya berkuliah di Universitas Pelita Bangsa yang berlokasi di Cikarang. Saya Mengambil Jurusan Teknik Informatika (S1).</p>
                </div>
                <div class="about2">
                    <h3>Hoby</h3>
                    <hr>
                    <p>hobi saya Bermain musik,menggambar,bermain bola dan bermain game.</p>
                </div>
            </div>

        </div>

        <footer>
            <p>Wahyu Firansyah&copy;2023 - Universitas Pelita Bangsa</p>
        </footer>
    </div>
</body>
</html>