<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="Container">
        <header>
            <h1>layout sederhana</h1>
        </header>
        <nav>
            <a href="Home.html" >Home</a>
            <a href="artikel.html">artikel</a>
            <a href="about.html">About</a>
            <a href="kontak.html" class="active">Kontak</a>
        </nav>
        
        <div class="kontak">
            <div class="data-kontak">
                <form action="">
                    <h2>Kontak</h2>
                    <hr>
                    <div class="kontak1">
                    <label for="Nama">Nama</label>
                    <input type="text" class="kontak-kontrol" id="Nama" placeholder="Masukkan Nama">
                </div>
                <div class="kontak1">
                    <label for="Email">Email</label>
                    <input type="text" class="kontak-kontrol" id="Email" placeholder="Masukkan Email">
                </div>
                <div class="kontak1">
                    <label for="pesan">Pesan</label>
                    <textarea name="kontak-kontrol" id="pesan"  rows="3" placeholder="masukkan pesan anda"></textarea>
                </div>
                <button type="submit" class="btn">Kirm</button>
                </form>
            </div>
            <div class="artikel">

                    <h3>Alamat</h3>
                    <p>jl. Raya Utan Soga,Rt/Rw 015/006 Desa Sindang Jaya kec.Cabang Bungin Kabupaten Bekasi</p>
            </div>
        </div>

        <footer>
            <p>Wahyu Firansyah &copy;2023 - Universitas Pelita Bangsa</p>
        </footer>
    </div>
</body>
</html>